a.brand {
  padding: 0px !important;
}

div#hero-clipboard {
  overflow: hidden;
}

div#maincontent {
    margin-left: 30px;
}

.welcome_user {
	padding-top:10px;
}

.chzn-search input {
    width:95% !important;
}

.team-games .alert-no-games, .game .alert-no-game{
    text-align: center;
}

.player-picture-mini {
    margin-right:10px;
    width:40px;
}

.player-picture-medium {
	width: 70px;
}

.popover {
	width:500px !important;
}

.player_info .left-col{
	margin-right:25px;
}