body {
  background: transparent;
  padding: 0;
  ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
div.navbar-inverse {
  padding: 0 10px;
}

a.brand {
  padding: 0px !important;
}

div#hero-clipboard {
  overflow: hidden;
}

div#maincontent {
  margin-left: 30px;
}

.welcome_user {
  padding-top: 10px;
}

.chzn-search input {
  width:95% !important;
}

.team-games .alert-no-games, .game .alert-no-game{
  text-align: center;
}

.player-picture-mini {
  margin-right: 10px;
  width: 40px;
}

.player-picture-medium {
  width: 100%;
  max-width: 100px;
}

.player-stats-table th{
  text-align: center
}

.player-stats-table {
  font-size: 12px;
}

.player-stats-table td {
  white-space: nowrap;
}

h3.popover-title {
  font-weight: bold;
}

.player-popover-iframe {
  width: 100%;
}
/** admin displays FR - game player view **/
#maincontent th.frout, #maincontent td.frout {
  display: table-cell;
}
a.left {
  float: left;
}
/** public hides FR - game player view **/
th.frout, td.frout {
  display: none;
}

/** rosters **/
div.row-fluid.span-12.game_info {
  width: 98%;
}

div.rosters-wrapper {
  padding-left: 20px;
}
table.normal.table.team-schedule-games a {
  color: #000;
  text-decoration: none;
}

table.normal.table.team-schedule-games tr.daterow {
  background-color: #E8E8E8 !important;
  border-bottom: 2px solid #DDD;
}
table.normal.table.team-schedule-games tr.game:nth-child(2n+1) {
  background-color: #eeeeee;
}

table.normal.table.team-schedule-games td.iframedate {
  width: 28%;
}

table.normal.table.team-schedule-games a:hover {
  color: #000;
  text-decoration: underline;
}

table.normal.table.team-schedule-games td {
  padding: 5px;
}

table.normal.table.team-schedule-games th {
  padding: 5px;
}
table.table.rosters tr.rosters-header tr td:first-child {
  text-align: right;
}

table.table.rosters tr.rosters-header {
  background: #E8E8E8;
  border-bottom: 1px solid #DDD;
}

div.row-fluid.span-12.game_info table.table.rosters {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
}
div.row-fluid.span-12.game_info table.table.rosters th:first-child + th + th {
  width: 15px;
}

div.row-fluid.span-12.game_info table.table.rosters th:last-child{
  display: none;
}

div.row-fluid.span-12.game_info table.table.rosters th:first-child + th {
  width: 30px;
}

div.row-fluid.span-12.game_info table.table.rosters th:first-child + th + th + th + th + th + th{
  width: 15px;
}

div.row-fluid.span-12.game_info table.table.rosters tr.rosters-header th:last-child {
  background: transparent;
}

div.row-fluid.span-12.game_info table.table.rosters tr:nth-child(odd){
  background: #eeeeee;
}

div.row-fluid.span-12.game_info .table th, div.row-fluid.span-12.game_info .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

div.row-fluid.span-12.game_info table.table.rosters td:first-child {
  width: 10px;
  text-align: right; 
}

div.row-fluid.span-12.game_info table.table.rosters td + td + td + td + td + td + td + td {
  width: 50px;
}

/**game score events **/
div.row-fluid.span-12.game_info table.table.game-score-events {
  font-size: 1em;
  margin-bottom: 0;
}
div.row-fluid.span-12.game_info table.table {
  font-size: 1em;
  margin: 0px;
}

div.row-fluid.span-12.game_info table.table td:first-child {
  max-width: 50px;
  text-align: right;
}
div.row-fluid.span-12.game_info table.table.signature td:first-child {
  text-align: left;
}

div.row-fluid.span-12.game_info table.table td + td + td + td + td {
  text-align: left;
  width: 10px;
}

div.row-fluid.span-12.game_info table.table.events-sub {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
}

div.row-fluid.span-12.game_info table.table tr.header-game-events {
  background: #fafafa;
}

table.table.card-events tr th:first-child, table.table.events-sub tr th:first-child, table.table.game-score-events tr th:first-child {
  width: 10%;
} 

table.table.card-events tr th + th, table.table.events-sub tr th + th, table.table.game-score-events tr th + th {
  width: 20%;
}

table.table.card-events tr th + th + th, table.table.events-sub tr th + th + th, table.table.game-score-events tr th + th + th {
  width: 40%;
}

table.table.card-events tr th:last-child, table.table.events-sub tr th:last-child, table.table.game-score-events tr th:last-child {
  width: 30%;
}

/** Styling for Team Schedules **/
a[href*="maps.google.com"] + span.icon-map-marker{
  display:inline-block !important;
}

a[href^="maps.google.com"] + span.icon-map-marker{
  display: block;
}

table.normal.table.team-schedule-games div.location a + span.icon-map-marker {
 display:none;
 color: #000;
}

table.normal.table.team-schedule-games {
  font-size: .92em;
  margin-bottom: 0px;
}
table.normal.table.team-schedule-games tr:nth-child(3n+1) {
  background: #eeeeee;
  
}

table.normal.table.team-schedule-games tr.schedules-table-header:first-child {
  background: #E8E8E8;
  text-decoration: underline;
  border-bottom: 2px solid #ddd;
}

table.normal.table.team-schedule-games tr.schedules-table-header:first-child th {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

table.normal.table.team-schedule-games tr.schedules-table-header:first-child th:first-child {
  border: 0;
}

table.normal.table.team-schedule-games tr.schedules-table-header:first-child th + th {
  border-left: 0px;
}

table.normal.table.team-schedule-games th.admindate, table.normal.table.team-schedule-games td.admindate {
  display: none;
}

table.normal.table.team-schedule-games tr th:first-child {
  display: none;
}

table.normal.table.team-schedule-games tr td:first-child {
  display: none;
}

table.normal.table.team-schedule-games tr td.schide {
  display: none;
}

table.normal.table.team-schedule-games tr th.schide {
  display: none;
}

th.schide, td.schide {
  display: none;
}

td.home-right {
  text-align: right;
  width: 26%;
}

div.date-left {
  float: left;
  text-align: left;
}

th.home-right {
  text-align: right;
  padding-left: 5px;
}

th.score-center, td.score-center {
  text-align: center;
  width: 10%;
}

th.opponentgames {
  width: 20%;
  text-align: left;
  padding-right: 5px;
}
th.teamgameslocation {
  width: 40%;
}

div.location {
  float: left;
}

/** Styling USA RUGBY STATS ADMIN - theme **/

#maincontent table.normal.table.team-schedule-games {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#maincontent table.normal.table.team-schedule-games tr:nth-child(3n+1) {
  background: transparent;
}

#maincontent table.normal.table.team-schedule-games .schedules-table-header {
  background: transparent;
}

#maincontent table.normal.table.team-schedule-games tr.schedules-table-header:first-child {
  background: transparent;
  text-decoration: none;
}

#maincontent table.normal.table.team-schedule-games tr.schedules-table-header:first-child th {
  border: 0;
  text-align: left;
}

#maincontent table.normal.table.team-schedule-games tr th:first-child {
  display: table-cell;
}

#maincontent table.normal.table.team-schedule-games tr td:first-child {
  display: table-cell;
}

#maincontent table.normal.table.team-schedule-games tr td.schide {
  display: table-cell;
}

#maincontent table.normal.table.team-schedule-games tr th.schide {
  display: table-cell;
}

#maincontent table.table.rosters tr.rosters-header {
  background: transparent;
  border-bottom: 0;
}

#maincontent div.row-fluid.span-12.game_info table.table.rosters tr:nth-child(odd){
  background: transparent;
}
#maincontent table.normal.table.team-schedule-games tr.game:nth-child(2n+1) {
  background-color: transparent;
}

#maincontent span.icon-map-marker{
  display: none;
}
#maincontent table.normal.table.team-schedule-games td {
  padding: 8px;
}

#maincontent table.normal.table.team-schedule-games th {
  padding: 8px;
}

#maincontent input.grps-active {
  margin: 5px 4px 7px 20px;
}
#maincontent label.flabel {
  background: transparent !important;
  border: 0px !important;
}

#maincontent input#active, #maincontent input#sync_all {
  margin: 5px 8px 7px 3px;
}

#maincontent input#active span, #maincontent input#sync_all span {
  margin: 5px 4px 7px 3px;
}
#maincontent input.btn.btn-warning.btntop {
  margin: 10px 10px;
}
#maincontent form#teams_showhide label, #maincontent form#teams_sync label {
  border-top: 1px solid #ccc;
  padding: 5px;
  margin: 0px 30px 0px 0px;
}

#maincontent form#teams_showhide label:first-child + label, #maincontent form#teams_sync label:first-child + label {
  border-top: 1px solid #ccc;
}

#maincontent form#teams_showhide label:nth-child(even), #maincontent form#teams_sync label:nth-child(even) {
  background: #fafafa;
}

#maincontent form#teams_showhide label:last-child, #maincontent form#teams_sync label:last-child {
  margin-bottom: 5px;
}

#maincontent .table th, #maincontent .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

#maincontent table.normal.table.team-schedule-games tr.daterow {
  display:none;
}

#maincontent table.normal.table.team-schedule-games th.admindate, #maincontent table.normal.table.team-schedule-games td.admindate {
  display: table-cell;
}

#maincontent th.home-right, #maincontent td.home-right, #maincontent th.home-right, #maincontent td.home-right {
  text-align: left;
}

#maincontent th.home-right, #maincontent td.home-right {
  text-align: inherit;
  width: auto;
}

#maincontent th.score-center,#maincontent td.score-center {
  text-align: left;
  width: auto;
}

#maincontent th.opponentgames {
  width: auto;
}
#maincontent th.teamgameslocation {
  width: auto;
}

#maincontent div.location {
  float:none;
}

#maincontent div#games {
  margin-right: 20px;
}

#maincontent table.normal.table.team-schedule-games a {
  color: #08C;
  text-decoration: none;
}

#maincontent table.normal.table.team-schedule-games a:hover {
  color:#005580;
  text-decoration:underline;
}

#maincontent .chzn-container-multi .chzn-choices .search-field input {
  height: 20px;
  width: 150px;
}

#maincontent table.normal.table.team-schedule-games ul.dropdown-menu a:hover {
  color: #fff;
  text-decoration: none;
}

#maincontent table.normal.table.team-schedule-games a.btn.dropdown-toggle:hover {
  text-decoration: none;
}

#maincontent tr.schedules-table-header {
  display:table-row;
}
#maincontent table.normal.table.admin-header {
  margin-bottom: -33px;
}
#maincontent div.date-left {
  display: none;
}