a.brand {
  padding: 0px !important;
}

div#hero-clipboard {
  overflow: hidden;
}

div#maincontent {
    margin-left: 30px;
}

.welcome_user {
	padding-top:10px;
}

.chzn-search input {
    width:95% !important;
}

.team-games .alert-no-games, .game .alert-no-game{
    text-align: center;
}

.player-picture-mini {
    margin-right:10px;
    width:40px;
}

.player-picture-medium {
	width: 100%;
  max-width:100px;
}

.player-stats-table th{
  text-align: center
}

.player-stats-table {
  font-size:12px;
}

.player-stats-table td {
  white-space: nowrap;
}

h3.popover-title {
	font-weight:bold;
}

.player-popover-iframe {
	width:100%;
}