a.brand {
  padding: 0px !important;
}

div#hero-clipboard {
  overflow: hidden;
}

div#maincontent {
    margin-left: 30px;
}

.welcome_user {
	padding-top:10px;
}

.chzn-search input {
    width:95% !important;
}

.team-games .alert-no-games, .game .alert-no-game{
    text-align: center;
}