body {
  background: transparent;
  padding: 0;
}
div.navbar-inverse {
  padding: 0 10px;
}

a.brand {
  padding: 0px !important;
}

div#hero-clipboard {
  overflow: hidden;
}

div#maincontent {
  margin-left: 30px;
}

.welcome_user {
  padding-top:10px;
}

.chzn-search input {
  width:95% !important;
}

.team-games .alert-no-games, .game .alert-no-game{
  text-align: center;
}

.player-picture-mini {
  margin-right:10px;
  width:40px;
}

.player-picture-medium {
  width: 100%;
  max-width:100px;
}

.player-stats-table th{
  text-align: center
}

.player-stats-table {
  font-size:12px;
}

.player-stats-table td {
  white-space: nowrap;
}

h3.popover-title {
  font-weight:bold;
}

.player-popover-iframe {
  width:100%;
}
/** admin displays FR - game player view **/
#maincontent th.frout, #maincontent td.frout {
  display: block;
}
a.left {
  float:left;
}
/** public hides FR - game player view **/
th.frout, td.frout {
  display: none;
}

/** rosters **/
div.row-fluid.span-12.game_info {
  width: 98%;
}

div.rosters-wrapper {
  padding-left: 20px;
}

table.normal.table.team-schedule-games td{
  padding: 5px;
}

table.normal.table.team-schedule-games th{
  padding: 5px;
}
table.table.rosters tr.rosters-header tr td:firstchild {
  text-align: right;
}

table.table.rosters tr.rosters-header {
  background-color: #E8E8E8;
  border-bottom: 1px solid #DDD;
}

div.row-fluid.span-12.game_info table.table.rosters {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
}

div.row-fluid.span-12.game_info table.table.rosters tr.rosters-header th:last-child {
  background-color: transparent;
}

div.row-fluid.span-12.game_info table.table.rosters tr:nth-child(odd){
  background-color: #eeeeee;
}

/**game score events **/
div.row-fluid.span-12.game_info table.table.game-score-events {
  font-size: 1em;
  margin-bottom: 0;
}
div.row-fluid.span-12.game_info table.table {
  font-size: 1em;
  margin: 0px;
}

div.row-fluid.span-12.game_info table.table td:first-child {
  max-width: 50px;
  text-align: right;
}
div.row-fluid.span-12.game_info table.table td + td + td + td + td {
  text-align: left;
}

div.row-fluid.span-12.game_info table.table.events-sub {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
}

div.row-fluid.span-12.game_info table.table tr.header-game-events {
  background-color: #fafafa;
}

table.table.card-events tr th:first-child, table.table.events-sub tr th:first-child, table.table.game-score-events tr th:first-child {
  width: 10%;
} 

table.table.card-events tr th + th, table.table.events-sub tr th + th, table.table.game-score-events tr th + th {
  width: 20%;
}

table.table.card-events tr th + th + th, table.table.events-sub tr th + th + th, table.table.game-score-events tr th + th + th {
  width: 40%;
}

table.table.card-events tr th:last-child, table.table.events-sub tr th:last-child, table.table.game-score-events tr th:last-child {
  width: 30%;
}

/** Styling for Team Schedules **/
a[href*="maps.google.com"] + span.icon-map-marker{
  display:inline-block !important;
}

a[href^="maps.google.com"] + span.icon-map-marker{
  display: block;
}

table.normal.table.team-schedule-games div.location a + span.icon-map-marker {
 display:none;
 color: #000;
}

table.normal.table.team-schedule-games {
  font-size: .92em;
}
table.normal.table.team-schedule-games tr:nth-child(odd) {
  background-color: #eeeeee;
  
}
table.normal.table.team-schedule-games tr.schedules-table-header:first-child {
  background-color: #E8E8E8;
  text-decoration: underline;
}

table.normal.table.team-schedule-games tr.schedules-table-header:first-child th {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

table.normal.table.team-schedule-games tr.schedules-table-header:first-child th:first-child {
  border: 0;
}

table.normal.table.team-schedule-games tr.schedules-table-header:first-child th + th {
  border-left: 0px;
}

table.normal.table.team-schedule-games tr th:first-child {
  display:none;
}

table.normal.table.team-schedule-games tr td:first-child {
  display:none;
}

table.normal.table.team-schedule-games tr td.schide {
  display:none;
}

table.normal.table.team-schedule-games tr th.schide {
  display:none;
}

/** Admin view Game **/
#maincontent table.normal.table.team-schedule-games {
  font-size: 1.2em;
}

#maincontent table.normal.table.team-schedule-games tr:nth-child(odd) {
  background-color: transparent;
}

#maincontent table.normal.table.team-schedule-games .schedules-table-header {
  background-color: transparent;
}

#maincontent table.normal.table.team-schedule-games tr.schedules-table-header:first-child {
  background-color: transparent;
  text-decoration: none;
}

#maincontent table.normal.table.team-schedule-games tr.schedules-table-header:first-child th {
  border: 0;
  text-align: left;
}

#maincontent table.normal.table.team-schedule-games tr th:first-child {
  display:table-cell;
}

#maincontent table.normal.table.team-schedule-games tr td:first-child {
  display:table-cell;
}

#maincontent table.normal.table.team-schedule-games tr td.schide {
  display:table-cell;
}

#maincontent table.normal.table.team-schedule-games tr th.schide {
  display:table-cell;
}

#maincontent table.table.rosters tr.rosters-header {
  background-color: transparent;
  border-bottom: 0;
}

#maincontent div.row-fluid.span-12.game_info table.table.rosters tr:nth-child(odd){
  background-color: transparent;
}

#maincontent span.icon-map-marker{
  display: none;
}
#maincontent table.normal.table.team-schedule-games td{
  padding: 8px;
}

#maincontent table.normal.table.team-schedule-games th{
  padding: 8px;
}

#maincontent div#groups input#sgroup {
  margin: 7px 8px 10px 24px;
}

#maincontent input.sgroup {
  margin: 5px 4px 7px 3px;
}

#maincontent ul.sgroups {
  list-style-type: none;
}
