/* 
    Document   : sportsml-custom.css
    Created on : Dec 7, 2012, 10:09:45 AM
    Author     : tashabrookman
    Description:
        custom style sheet for the css/vendor/sportsml.css
*/

 /*** Standings ***/
.rugby_stats {
  background-color: transparent;
}
.standline {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: #08C;
  margin: 0;
}

.bg_standings {
  background-color: transparent;
  padding: 0;
}
.smalltable {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}

/*.smalltable td b {
  color: #666;
}*/

.smalltable td {
  padding: 7px 5px 4px 5px;
  text-align: center;
}

.smalltable td:first-child {
  padding-left: 10px;
  text-align:left;
  width: 170px;
  font-size: 13px;
}

.smalltable td:last-child {
  padding-left: 10px;
  font-weight: bold;
}

.smalltable tr.td-stats td:last-child {
 border-left: 1px solid #ccc;
}

.smalltable tr.td-stats td + td, .smalltable tr.td-stats td + td + td + td + td + td {
 width: 15%;
}

.smalltable tr.td-stats td + td + td, .smalltable tr.td-stats td + td + td + td, .smalltable tr.td-stats td + td + td + td + td + td + td + td, .smalltable tr.td-stats td + td + td + td + td + td + td + td + td, .smalltable tr.td-stats td + td + td + td + td + td + td + td + td + td, .smalltable tr.td-stats td + td + td + td + td + td + td + td + td + td + td {
 width: 10%;
}

tr.blueline:nth-child(2) {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  background-color: #E8E8E8;
  color: #000;
  text-decoration: underline;
}

/** IE8 **/
tr.blueline + tr.blueline {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  background-color: #E8E8E8;
  color: #000;
  text-decoration: underline;
}
td.ft-set-cell {
  background-color: #F7FDFD;
  border-left: 1px solid #ccc;
}
td.ns-set-cell {
  background-color: #F7FDFD;
  border-right: 1px solid #ccc;
}

.blueline {
  border: 0;
  background-color: transparent;
}

span.rank {
  color: #666666;
}

span.points {
  padding: 3px 10px;
  width: 10px;
  /*background-color: #cccccc;
  color: #666666;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #666666;
  font-size: 18px;*/
}


/* Table cell accents for win, lose, points, tie */
/*span.win {
  background-color: #1B692A;
  color: white;
  text-align: center;
  padding: 3px 10px;
  width: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #0d3415;
}

span.losses {
  background-color: #cb004c;
  color: white;
  text-align: center;
  padding: 3px 10px;
  width: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #9b243e;
}

span.ties {
  background-color: #2c7892;
  color: white;
  text-align: center;
  padding: 3px 10px;
  width: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #195571;
}*/
