<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>USA Rugby Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Styles -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class='container-fluid'>
      <div class="grid row-fluid">
        <div class="span span3 clearfix">
          <div style="height: 250px; margin: 5px;" id="hero-clipboard">
            <center><img style="height: 100%;" src="/assets/clipboard.png"/></center>
          </div>
        </div>
        <div class="span span8 clearfix">
          <div class="hero-unit">
            <h1>USA Rugby Stats</h1>

            <p>Online Rugby competition statistics management and reporting.</p>

            <p><a href="/login" id="login-allplayers"><img src="/assets/blue_signup_btn.png" /></a></p>
          </div>
        </div>
      </div>

      <div class="grid row-fluid">
        <div class="span span8 offset2 clearfix">
          <div class="well">
            <h3>Overview</h3>
            <p>The National Championship Series web application is designed to facilitate the management of championship event rosters, scores, and game information. It is designed to work from any phone, computer, or tablet that can access the internet.</p>
            <br/>
            <p>By: Matt Trenary, <a href="https://www.allplayers.com/">AllPlayers.com</a> (<a href="https://github.com/AllPlayers/USARugby-Stats">source</a>)
          </div>
        </div>
      </div>
    </div>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
