{% extends "base.twig" %}
  {% block content %}
    <div class='container-fluid'>
      <div class="grid row-fluid">
{% block flash %}
{% if flash.ext is defined %}
        <div class="span span8 offset2 clearfix" style="margin-top: 30px;">
          <div class="alert">
            <a href="/logout.php"><button type="button" class="close">×</button></a>
            <strong>{{ flash.short }}</strong> {{ flash.ext|raw }}
          </div>
        </div>
{% endif %}
{% endblock flash %}

        <div class="span span3 clearfix">
          <div style="height: 250px; margin: 5px;" id="hero-clipboard">
            <center><img style="height: 100%;" src="/assets/clipboard.png"/></center>
          </div>
        </div>
        <div class="span span8 clearfix">
          <div class="hero-unit">
            <h1>USA Rugby Stats</h1>

            <p>Online Rugby competition statistics management and reporting.</p>

            <p><a href="/login" id="login-allplayers"><img src="/assets/blue_signup_btn.png" /></a></p>
          </div>
        </div>
      </div>

      <div class="grid row-fluid">
        <div class="span span8 offset2 clearfix">
          <div class="well">
            <h3>Overview</h3>
            <p>The National Championship Series web application is designed to facilitate the management of championship event rosters, scores, and game information. It is designed to work from any phone, computer, or tablet that can access the internet.</p>
            <br/>
            <p>By: Matt Trenary, <a href="https://www.allplayers.com/">AllPlayers.com</a> (<a href="https://github.com/AllPlayers/USARugby-Stats">source</a>)
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  {% block jsfooter %}
    {{ parent() }}
    <script src="/assets/js/vendor/jquery.oauthpopup.js"></script>
    <script>
      if (window.name=="ConnectWithOAuth") {window.close();}
      $(document).ready(function(){
        $('a#login-allplayers').click(function(event){
          event.preventDefault();
          var popupAPOAuth = function() {
            $.oauthpopup({
              path: '/login',
              windowOptions: 'location=0,status=0,width=590,height=370,scrollbars=yes',
              callback: function(){
                window.location = '/';
              }
            });
          };
          try {
            if (window.location.href == $('iframe#ConnectWithOAuthFrame')[0].contentWindow.location.href) {
              window.location = '/';
            }
            else {
              popupAPOAuth();
            }
          } catch (e) {
            // noop
            popupAPOAuth();
          }
        });

        // Append iframe to document to see if we can auto-login.
        if ((window.name != 'ConnectWithOAuthFrame') && ($('.alert').text().length === 0)) {
          $(document.createElement('iframe'))
           .attr('id','ConnectWithOAuthFrame')
           .attr('src', window.location.href + 'login')
           .attr('height','0').attr('width','0')
           .appendTo('.container-fluid').hide();
        }
      });
    </script>
  {% endblock %}
