{% extends "modal-template.twig" %}
  {% block modalbody %}
    <form>
      <input class="input-xxlarge" type="text" value="{{ modal.iframe_url }}" disabled>
    </form>
    <a href="{{ modal.iframe_url }}" target="_blank">Open in new window</a>
  {% endblock %}
